{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "jest": true
    },
    "parser": "@babel/eslint-parser",
    "extends": "eslint:recommended",
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": "true"
    },
    "ignorePatterns": ["src/app/Library/*"],
    "rules": {
        "no-unused-vars": "off",
        "indent": [
            "error",
            "tab"
        ],
        "linebreak-style": [
            "warn",
            "windows"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ]
    }
}