# Client
client/node_modules/
client/coverage/
client/dist/

client/.DS_Store
client/*.log

client/npm-debug.log
client/package-lock.json

# Server
server/node_modules/
server/coverage/
server/dist/

server/.DS_Store
server/*.log

server/npm-debug.log
server/package-lock.json

# Top
/package-lock.json