{
    "presets": [
        "@babel/env",
        "@babel/preset-typescript"
    ],
    "env": {
        "test": {
            "plugins": [
                "@babel/plugin-transform-modules-commonjs",
                "@babel/plugin-syntax-top-level-await",
                [
                    "@babel/plugin-transform-runtime",
                    {
                        "regenerator": true
                    }
                ],
                "dynamic-import-webpack",
                "module-resolver",
                {
                    "extensions": ['.js', '.jsx', '.ts', '.tsx'],
                    "root": ['./src'],
                    "alias": {
                    // this must be synchronized with tsconfig.json's path configuration
                        component: './src/component',
                    },
                },
            ]
        }
    }
}